{
  "services": {
    "test": {
      "cluster": "test",
      "taskDefinition": "test"
    }
  },
  "tasks": {
    "migrate": {
      "cluster": "test",
      "taskDefinition": "migrate",
      "count": 1
    }
  },
  "taskDefinitions": {
    "test": {
      "deregisterPreviousDefinitions": true,
      "networkMode": "bridge",
      "taskRoleArn": "some:role",
      "containerDefinitions": [
        {
          "volumesFrom": [],
          "memory": 128,
          "essential": true,
          "mountPoints": [],
          "name": "test",
          "environment": [],
          "image": "test",
          "cpu": 0
        }
      ],
      "volumes": [],
      "family": "test",
      "placementConstraints": []
    }
  },
  "dockerImages": {
    "test": {
      "dockerfile": "Dockerfile",
      "tagCommand": "echo $BUILD_VERSION",
      "repository": "some.docker.image.repo/test",
      "build": true
    }
  }
}
